.pdf {
    padding-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 95%;
}

h1, h3 {
    font-weight: normal;
}
pre {
    overflow-x: auto;
}
#page-content-wrapper:-webkit-scrollbar { 
    display: none; 
}
.blog-line {
    display: block;
    padding: 0px 1px 0px 1px;
}
@media screen and (min-width: 650px) {
    #page-content-wrapper {
        position:absolute;
        /* display: block; */
        /* position: relative; */
        /* overflow: hidden; */
        padding-top: 50px;
        margin-left: 17%;
        margin-right: 15px;
        color: #25283d;
        /* font-family: 'Courier New', Courier, monospace; */
        font-family: Arial;
        /* font-size: 12pt; */
        height: 90%;
        width: 80%;
    }
    .sidebar-list {
        position: fixed;
        overflow-y: scroll;
        margin-top: 52px;
        padding-top: 15px;
        background-color: #6a3937;
        height: 100%;
        width: 15%;
    }
    .blog-post-button {
        display: block;
        padding: 8px 8px 8px 10px;

    }
    .blog-post-link {
        background-color: #6a3937;
        color: #efecca;
        border: none;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
    }
}
@media screen and (max-width: 650px) {
    #page-content-wrapper {
        position: relative;
        overflow: hidden;
        padding-top: 50px;
        margin-left: 22%;
        margin-right: 15px;
        color: #25283d;
        /* font-family: 'Courier New', Courier, monospace; */
        font-family: Arial;
        font-size: .75em;
    }
    .sidebar-list {
        position: fixed;
        margin-top: 52px;
        background-color: #6a3937;
        height: 100%;
        width: 20%;
    }
    .blog-post-button {
        display: block;
        padding: 8px 8px 8px 10px;

    }
    .blog-post-link {
        background-color: #6a3937;
        color: #efecca;
        border: none;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: .75em;
    }
}
.blog-post-link:hover {
    color: #25283d;
    border: none;
}
.blog-post-link:focus {
    color: #25283d;
    border: none;
}
.blog-post-link:active {
    color: #25283d;
    border: none;
}
.dataframe, .output {
    overflow: auto;
}