body {
    background-color: #6a3937;
}
.social-media {
    position: relative;
    top: 55px;
    margin: 0 auto;
    width: 235px;
    padding: 20px;
}
.btn-social {
    text-decoration: none;
    padding: 15px;
    color: #efecca;
}
.btn-social:hover {
    color: #E2725B;
}
#name, #email {
    width: 300px;
}
#subject {
    width: 300px;
    height: 150px;
}
#submit {
    color: #25283d;
    background-color: #efecca;
}
#submit:active {
    color: #25283d;
    background-color: #E2725B;

}
.contact-me {
    width: 300px;
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -150px;
}
.contact-me > form > input, .contact-me > form > textarea {
    margin-top: 10px;
    border: none;
    height: 30px;
}
.contact-me > form > label{
    color: #efecca;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
.contact-me > form > input, .contact-me > form > textarea {
    color: #25283d;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
#sent-text {
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -48px;
}
#sent-text > h1 {
    color: #efecca;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}