body {
    background: url('/static/2.jpg') no-repeat fixed;
    background-size: cover;
}
@media screen and (min-width: 650px) {
    .title {
        position: fixed;
        top: 30%;
        left: 50%;
        margin-left: -422px;
        font-size: 4em;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        color: #efecca;
    }
}

@media screen and (max-width: 850px) {
    .title {
        position: fixed;
        top: 30%;
        left: 50%;
        margin-left: -331px;
        font-size: 3em;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        color: #efecca;
    }
}

@media screen and (max-width: 650px) {
    .title {
        position: fixed;
        top: 25%;
        left: 50%;
        margin-left: -150px;
        font-size: 1.5em;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        
        color: #efecca;
    }
}