body {
    margin: 0;
    padding: 0;
}

.my-navbar {
    position: fixed;
    z-index:9999;
    width: 100%;
    height: 50px;
    background-color: #efecca;
    box-shadow: 1px 1px 1px 1px #25283d;
    padding-bottom: 1px;
}
.my-navbar-collapse {
    position: relative;
    padding-left: 20px;
}
.my-navbar-right {
    position: absolute;
    right: 10px;
}
.my-navbar-left, .my-navbar-right {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #efecca;
}
.my-navbar-item {
    float: left;
}

@media screen and (min-width: 650px) {
    .my-navbar-brand {
        position: absolute;
        padding-top: 5px;
        width: 150px;
        left: 50%;
        margin-left: -75px;
    }
    .my-navbar-link {
        display: block;
        color: #6a3937;
        padding: 10px;
        padding-top: 15px;
        text-decoration: none;
        font-size: 12pt;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media screen and (max-width: 650px) {
    .my-navbar-brand {
        position: absolute;
        padding-top: 5px;
        width: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .my-navbar-link {
        display: block;
        color: #6a3937;
        padding: 5px;
        padding-top: 30px;
        text-decoration: none;
        font-size: 10pt;
        font-family: 'Courier New', Courier, monospace;
    }
}
.my-navbar-link:hover {
    color: #25283d;
}
