body {
    background: url('/static/2.jpg') no-repeat fixed;
    /* background-color: #6a3937; */
    background-size: cover;
}

.resume {
    position: fixed;
    left: 50%;
    margin-left: -40%;
    /* margin-right: auto; */
    height: 100%;
    width: 80%;
    background-color: #6a3937;
}

.resumepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 95%;
    padding-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media screen and (min-width: 650px) {
    h3, h4{
        margin: 0;
        font-weight: 300;
    }
    h4 {
        padding-top: 10px;
        padding-left: 15px;
        font-size: .75em;
        
    }
    p {
        padding-top: 5px;
        padding-left: 30px;
        margin: 0;
        font-size: .5em;
    }
    .left-side {
        position: fixed;
        margin-top: 95px;
        margin-left: 5%;
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        color: #efecca;
    }
    .right-side {
        position: fixed;
        margin-top: 95px;
        left: 52%;
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        color: #efecca;
    }
}

@media screen and (max-width: 1400px) {
    h3, h4{
        margin: 0;
        font-weight: 300;
    }
    h4 {
        padding-top: 10px;
        padding-left: 15px;
        font-size: .75em;
        
    }
    p {
        padding-top: 5px;
        padding-left: 30px;
        margin: 0;
        font-size: .5em;
    }
    .left-side {
        position: fixed;
        margin-top: 95px;
        margin-left: 5%;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #efecca;
    }
    .right-side {
        position: fixed;
        margin-top: 95px;
        left: 52%;
        font-size: 1em;
        font-family: 'Courier New', Courier, monospace;
        color: #efecca;
    }
}

@media screen and (max-width: 780px) {
    h3, h4{
        margin: 0;
        font-weight: 300;
    }
    h4 {
        padding-top: 10px;
        padding-left: 15px;
        font-size: .75em;
        
    }
    p {
        padding-top: 5px;
        padding-left: 30px;
        margin: 0;
        font-size: 6pt;
    }
    .left-side {
        position: fixed;
        margin-top: 95px;
        margin-left: 5%;
        font-size: .5em;
        font-family: 'Courier New', Courier, monospace;
        color: #efecca;
    }
    .right-side {
        position: fixed;
        margin-top: 287px;
        left: 15%;
        font-size: .5em;
        font-family: 'Courier New', Courier, monospace;
        color: #efecca;
    }
}