<p>
    <h1>Celery Task Viewer</h1>
    This was a project I worked on for a company I used to be employed at. They had an old business system that they had
    to migrate data off of many times per day to a SQL database to be used on their website. This was for things such as
    orders and customer information. They had many Celery tasks to do these complete these migrations. Celery is
    basically just a python scheduling framework, think Cron but a bit easier to maintain and better integration to your
    application.
    </br></br>
    What I did with this project was create a dashboard to view the last x number of runs of each active Celery task,
    whether they were successful, and their output message. I also created a button on each one to manually run the
    celery task. This was then run on an internal server so the Programmer and the IT Manager could view the status of
    the tasks and know if there are any problems at a glance.
</p>