<p>
    <h1>Excel File Generator</h1>
    This was a project I did during my internship. This company owns a legacy business system that is used fairly
    widely. This business system runs on Open Server 6, commonly referred to as SCO. They offered versions for other
    operating systems, but their main client base was on SCO and was not migrating. This is an important thing to note
    as SCO does not have a standardized C compiler, it somewhat follows C89 guidelines, but not quite. The C++ compiler
    is also non existent on some older versions of the OS that many of the clients run. This means that this was not a
    small project as it may have been on a regular system where you could use a framework that creates the Excel files
    for you.
    </br></br>
    With this project I wrote a complete C library to create Excel files from scratch. It was based off a C++ framework
    that created Excel files, but since it was heavily Object Oriented, I had to rewrite a lot of it. Excel files are
    directories of XML folders that are then zipped. I did not know this before starting this project. It is actually
    very interesting. If you have time, change the name of a .xlsx file to .zip, then unpack it. You will likely see a
    structure much like this:
    </br></br>
    <img width="50%" src="/static/excel-file-struct.png"> <img>
    </br></br>
    This structure here was not obtained by doing this, in fact, this structure was created by my program. This was a
    very large project and took a great amount of research. If you would like to see more of this project, I will put
    the link to the Gitlab repository below! It was primarily developed in Visual Studio, so it will open well in there.
    It also has a makefile that works on Linux and SCO. I've never tried it on Macos, but be my guest and let me know
    how it goes!

    </br></br>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/dagormz/XlsxCreator">Gitlab Repo</a>
    </br></br>
    <a href="https://drive.google.com/uc?export=download&id=1st04trNdG8S5Ue3BoB3qZxVfvOszCB3R">
        Here's a download link to a small Excel file created by my program!
    </a>
</p>