<p>
    <h1>Geographic Data Visualization</h1>
    This project was a summer internship project that I started independantly during my free time. I had noticed a large
    amount of un-consumed geographic data. This data was the radius in which a customer stated they did business from a
    specific geographic location. In insurance, there are defined territories given by ISO that provide a calculated risk
    score for each territory. These territories are aggregated on the zip code level. As you may know, zip codes are not
    exactly geospatially sound. They are simply districts used by the USPS in order to deliver mail effectively. Because
    of this, you encounter many issues when trying to use geospatial projections based on zipcodes. The government does
    provide zipcode boundaries in a shape file, even though they are not always 100% accurate. These shape files were the
    foundation of my visualization tool. To get on the ISO territory level, I merged the zipcode shapes based on the zipcodes
    that were included in each ISO territory.

    </br></br>
    After I had this new shape file defined by ISO territories, I created a query through GeoDjango on top of PostGIS that
    searched for intersecting shapes within a radius of a GPS point. I gathered this point through the Google geocoding API
    where I searched for a given address in which it returned an estimated location. Through this search I was able to provide
    an aggregation of ISO territories to the users which allowed them to get a better understanding of the location that
    the customer was operating in.

    </br></br>
    <img width="50%" src="/static/map.png"> <img>
    
    </br><small>Here is a picture of the application, displaying the feature of an ISO territory.</small></br>
</p>