<p>
    <h1>Website Project</h1>
    I made this website, gormley.dev, as a portfolio holder as well as a blog page. It was a project that I have been
    putting off for some time now and it had to be done. I am very pleased with how it's turned out so far and plan to
    keep adding more. The backend of this website is running CherryPy, a Python web framework that isn't used a whole
    lot anymore. I decided to use this framework because I was comfortable with it as I had some experience using it at
    some past places I have worked. Although it isn't the latest and greatest, it is simple, scalable, and suits all of
    my needs in this project. It is also a complete minimalist framework and requires you to create your own solutions
    for most web needs. Unlike Django or other modern frameworks, it has very few build in functionality for web. I
    thought that this would be a good framework to use for my website as I am not exactly a web developer, so backend
    design is much more exciting for me.

    </br></br>

    I started off this project by finding a bootstrap template and putting my own information into it. To me, this felt
    wrong. I decided to write the whole website from scratch, which is why it is void of fancy animations and features.
    This website does not use bootstrap or any other design template. I had little to no design experience before this
    project. I have made web apps before, but they were all simple bootstrap dashboards to display data. I decided to
    make this website from scratch to learn more about web design and how to have fun with it.

    </br></br>
    <h3>Blogging</h3>

    I knew that I had wanted to create some sort of blog on this website, but didn't know how I wanted to go about it.
    After looking into a few common platforms I decided that they were way too put together for my usage. I also wanted
    to make it as simple as possible so I don't have to fix this website that often. With this, I decided to just make a
    very small platform that has a json file that keeps track of all of my blog posts by keeping a link to their
    location and metadata on them. This is the method I used:

    </br></br>
    <pre class="prettyprint">

    def getPosts(self):
        with open('./posts.json') as data:
            posts = json.load(data)
        posts.sort(key = lambda x:x['post-date'])
        return posts
    </pre>

    It's ugly and could probably be improved upon greatly. I load the data for the posts from a json file that is
    updated every time I create a new post. This data gets sent over to a template using Jinja2, which is then later used
    on the website to change between blog posts. I do this with a simple RESTful api request to my backend which loads
    the correct blog post to the page. I had previously done this with a JavaScript function, but this needed to be
    changed to use REST for linking purposes and what not. I also believe that eliminating JavaScript wherever possible
    is a great thing to do as it ensures great compatibility and performance for your end user.

    </br></br>
    <pre class="prettyprint">

    def _cp_dispatch(self, vpath):
        post_path = './static/posts/'
        name = None
        if len(vpath) == 1:
            name = vpath.pop()

        with open(join(post_path, name+'.html')) as post:
            cherrypy.request.params['current_post'] = post.read()

        return self
    </pre>

    The only JavaScript library used in this whole project is Google's Code-Prettyfy.js framework which provides syntax
    highlighting for code in HTML. Since this is simply used as a class within my pre tag, it looks fine with JavaScript
    disabled, the code is just not highlighted.

</p>