<p>

    <h1>Geographic Data Visualization</h1>
    This project was a summer internship project that I started independantly during my free time. I had noticed a large
    amount of un-consumed geographic data. This data was the radius in which a customer stated they did business from a
    specific geographic location. In insurance, there are defined territories given by ISO that provide a calculated risk
    score for each territory. These territories are aggregated on the zip code level. As you may know, zip codes are not
    exactly geospatially sound. They are simply districts used by the USPS in order to deliver mail effectively. Because
    of this, you encounter many issues when trying to use geospatial projections based on zipcodes. The government does
    provide zipcode boundaries in a shape file, even though they are not always 100% accurate. These shape files were the
    foundation of my visualization tool. To get on the ISO territory level, I merged the zipcode shapes based on the zipcodes
    that were included in each ISO territory.

    </br></br>
    After I had this new shape file defined by ISO territories, I created a query through GeoDjango on top of PostGIS that
    searched for intersecting shapes within a radius of a GPS point. I gathered this point through the Google geocoding API
    where I searched for a given address in which it returned an estimated location. Through this search I was able to provide
    an aggregation of ISO territories to the users which allowed them to get a better understanding of the location that
    the customer was operating in.

    </br></br>
    <img width="50%" src="/static/map.png"> <img>
    
    </br><small>Here is a picture of the application, displaying the feature of an ISO territory.</small></br>
    <hr>

    <h1>Celery Task Viewer</h1>
    This was a project I worked on for a company I used to be employed at. They had an old business system that they had
    to migrate data off of many times per day to a SQL database to be used on their website. This was for things such as
    orders and customer information. They had many Celery tasks to do these complete these migrations. Celery is
    basically just a python scheduling framework, think Cron but a bit easier to maintain and better integration to your
    application.
    </br></br>
    What I did with this project was create a dashboard to view the last x number of runs of each active Celery task,
    whether they were successful, and their output message. I also created a button on each one to manually run the
    celery task. This was then run on an internal server so the Programmer and the IT Manager could view the status of
    the tasks and know if there are any problems at a glance.

    <hr>

    <h1>Excel File Generator</h1>
    This was a project I did during my internship. This company owns a legacy business system that is used fairly
    widely. This business system runs on Open Server 6, commonly referred to as SCO. They offered versions for other
    operating systems, but their main client base was on SCO and was not migrating. This is an important thing to note
    as SCO does not have a standardized C compiler, it somewhat follows C89 guidelines, but not quite. The C++ compiler
    is also non existent on some older versions of the OS that many of the clients run. This means that this was not a
    small project as it may have been on a regular system where you could use a framework that creates the Excel files
    for you.
    </br></br>
    With this project I wrote a complete C library to create Excel files from scratch. It was based off a C++ framework
    that created Excel files, but since it was heavily Object Oriented, I had to rewrite a lot of it. Excel files are
    directories of XML folders that are then zipped. I did not know this before starting this project. It is actually
    very interesting. If you have time, change the name of a .xlsx file to .zip, then unpack it. You will likely see a
    structure much like this:
    </br></br>
    <img width="50%" src="/static/excel-file-struct.png"> <img>
    </br></br>
    This structure here was not obtained by doing this, in fact, this structure was created by my program. This was a
    very large project and took a great amount of research. If you would like to see more of this project, I will put
    the link to the Gitlab repository below! It was primarily developed in Visual Studio, so it will open well in there.
    It also has a makefile that works on Linux and SCO. I've never tried it on Macos, but be my guest and let me know
    how it goes!

    </br></br>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/dagormz/XlsxCreator">Gitlab Repo</a>
    </br></br>
    <a href="https://drive.google.com/uc?export=download&id=1st04trNdG8S5Ue3BoB3qZxVfvOszCB3R">
        Here's a download link to a small Excel file created by my program!
    </a>
    </br></br>
    <hr>

    <h1>Shatner Slides Program</h1>
    I made the Shatner Slides program as a replacement for a student organization at Bowling Green State
    University. This organization is a improv comedy group that ran slides and music at their shows. The reason that
    I needed to create a custom program for this is because we used a version of QLab and we wanted to
    migrate off. We looked at migrating to a much simpler program, like PowerPoint, but there were a few
    large features in QLab that we could not give up. These features were fading the music quieter in the
    sequence and maintaining a song over multiple slides. I know some may come up with a way to do this on
    PowerPoint, but the fact is, it was not simple to do and I wanted to create a simple solution that could
    be easily used in the future when I leave Bowling Green.
    </br></br>
    <h3>Usage</h3>
    I have created an interface to create the slides which is displays in the photo below. The webpage itself is a
    queue based page that goes through different actions that can change the image on the scree, volume of music, or
    change the music. I also added a few features to control the master volume and to play sound clips on the page.
    </br></br>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/dagormz/shatnerslides">Gitlab Repo</a>
    <a href="https://slides.gormley.dev">Demo</a>
    </br></br>
    <img width="75%" src="/static/shatner-slides.png"> <img>

    </br></br>
    <hr>

    <h1>Gormley Dev</h1>
    This website! I have a longer blog post about this, so I'll keep this one short. I made this website to hold my
    portfolio. I also have fun with it and use the server space to host other tools that I use. For instance, I use a
    subdomain on this website, labs.gormley.dev to run a Jupyter Notebook when I need more processing power than what my
    laptop can handle. I also run the Shatner Slides program off of this domain at slides.gormley.dev.
    </br></br>
    I made this website in a small Python web framework called CherryPy. This is a complete minimalist framework so most
    everything is made by myself. This website will be a living project for me and will be added onto as I see fit. Have
    a look at my blog post specifically for this website, <a href="/blog/gormley-dev">here</a>.
</p>