<p>
    <h1>Shatner Slides Program</h1>
    I made the Shatner Slides program as a replacement for a student organization at Bowling Green State
    University. This organization is a improv comedy group that ran slides and music at their shows. The reason that
    I needed to create a custom program for this is because we used a version of QLab and we wanted to
    migrate off. We looked at migrating to a much simpler program, like PowerPoint, but there were a few
    large features in QLab that we could not give up. These features were fading the music quieter in the
    sequence and maintaining a song over multiple slides. I know some may come up with a way to do this on
    PowerPoint, but the fact is, it was not simple to do and I wanted to create a simple solution that could
    be easily used in the future when I leave Bowling Green.
    </br></br>
    <h3>Usage</h3>
    I have created an interface to create the slides which is displays in the photo below. The webpage itself is a
    queue based page that goes through different actions that can change the image on the scree, volume of music, or
    change the music. I also added a few features to control the master volume and to play sound clips on the page.
    </br></br>
    <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/dagormz/shatnerslides">Gitlab Repo</a>
    <a href="https://slides.gormley.dev">Demo</a>
    </br></br>
    <img width="75%" src="/static/shatner-slides.png"> <img>
</p>