<p>
    <h1>Worst Lines of Code</h1>
    This page will be dedicated to the worst and/or ugliest lines of code I have written. Some have been replaced, some
    will be

    </br></br>
    Removing hyphens and file extensions from a file name to make a title.

    <pre class="prettyprint">
post_name = name[0:name.find('.')].replace('-', ' ')
    </pre>

    </br></br>
    The above one was removed when I added JSON metadata to each post, but with I need to search this metadata, so here
    goes everyone's favorite. Lambda functions. Also a little python 3 fun where you have to cast the object into a
    list, to pop the only item off the stack.
    <pre class="prettyprint">
post = list(filter(lambda posts: posts['post-link'] == name, self.posts)).pop()
    </pre>


</p>