<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <title>Blog - Nolan Gormley</title>
    <link rel="icon" type="image/png" href="/static/gormley_favicon.png">
</head>

<body>
    {{ navbar }}

    <div class="sidebar-list" id='blog-posts-parent'>
        <div class="blog-post-button">
            <a href="/blog" class="blog-post-link">Welcome</a>
        </div>
        <div class="blog-line">
            <hr>
        </div>
        {% for post in posts %}
        <div class="blog-post-button">
            <a href="/blog/{{ post['post-link'] }}" class="blog-post-link">{{ post['post-name'] }}</a>
        </div>

        {% endfor %}
    </div>

    <div id="page-content-wrapper">
        {{ current_post }}
    </div>

</body>

</html>