<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <title>Contact Me - Nolan Gormley</title>
    <link rel="icon" type="image/png" href="/static/gormley_favicon.png">
</head>

<body>
    {{ navbar }}

    <div class="social-media">
        <a class="btn-social" href="https://twitter.com/NolanGormley">
            <span class="fa fa-twitter fa-3x"></span>
        </a>
        <a class="btn-social" href="https://www.linkedin.com/in/nolan-gormley/">
            <span class="fa fa-linkedin fa-3x"></span>
        </a>
        <a class="btn-social" href="https://gitlab.com/nolangormley">
            <span class="fa fa-gitlab fa-3x"></span>
        </a>
    </div>

    {% if sent %}
    <div id="sent-text">
        <h1>Sent!</h1>
    </div>
    {% endif %}
    
    <div class="contact-me container">
        <form action="/email" method="POST">
            <label for="fname">Name</label>
            <input type="text" class="text-box" id="name" name="name" placeholder="Your name..">
            </br></br>
            <label for="country">Email</label>
            <input type="text" class="text-box" id="email" name="email" placeholder="Your email address..">
            </br></br>
            <label for="subject">Subject</label>
            <textarea id="subject" class="text-box" name="subject" placeholder="Write something.."></textarea>
            </br></br>
            <input type="submit" id="submit" value="Submit">

        </form>
    </div>

</body>

</html>