<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    

    <title>Hire Me - Nolan Gormley</title>
    <link rel="icon" type="image/png" href="/static/gormley_favicon.png">
</head>

<body>
    {{ navbar }}

    <div class="title">
        <p class="title-name">Nolan Gormley </br> MS in Computer Science </br> BGSU 2021</p>
    </div>

</body>

</html>