<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/resume.css">


    <title>Hire Me - Nolan Gormley</title>
    <link rel="icon" type="image/png" href="/static/gormley_favicon.png">
</head>

<body>
    {{ navbar }}
    <div class="resume">
        <!-- <img class="resumepic" src="/static/resume.png"> <img> -->
        <!-- <iframe class="resumepic" frameborder="0" scrolling="no"
            src="/static/resume.png">
        </iframe> -->
        <object class="resumepic" data="/static/nolan_gormley_resume_ng.pdf" type="application/pdf">
    </div>

</body>

</html>